<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-text project-title"><%= project.escape('title') %></p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% project.tabs().each(function (tab) { %>
          <li <%= tab.get('visible') ? 'class="active"' : '' %>
              id='nav-visible-<%= tab.get('name') %>'>
              <a href="#"
                 class='tab-button'
                 data-target='#tab-<%= tab.escape('name') %>'><%= tab.escape('name').toTitleCase() %></a>
          </li>
        <% }); %>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Project<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Add collaborator</a></li>
            <li class="divider"></li>
            <li><a href="#">Delete</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="name">
          </div>
          <button type="submit" class="btn btn-default">Add Story</button>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='container-fluid' id='tabs-container'>
  <div class='row' id='tabs-row'>
  </div>
</div>